*{
    margin:0;
    padding:0;
}

body{
    width: 900px;
    height: 900px;
    margin-left: 50px;
    /* border: 1px solid red; */
    padding: 40px;
    display:flex;
}

section{
    width: 400px;
    height: 900px;
    /* border: 1px solid blue; */
    background-color: #2a68d5;
    border-radius: 40px 40px 40px 40px;
}







#contieneImagen1{
    width: 400px;
    /* border: 1px solid red; */
    display: flex;
}

#contieneImagen1 img{
    width: 100px;
    margin-left: 150px;
    margin-top: 70px;
    size:100px;
}

#nombre{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#texto1{
    text-align: center;
    color: #c1d5f5;
    margin-bottom: 45px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#texto2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.boton1{
    width: 350px;
    height: 80px;
    margin-left: 25px;
    border-radius: 40px 40px 40px 40px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
}

#contieneRedesSociales{
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 120px;
    gap: 40px;
}

#esquina3{
    height: 205px;
    width: 210px;
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 70px;
}



#botonCambio{
    margin-left: 50px;
    height: 100px;
    width: 300px;
    font-size: 20px;

}


